header {
  height: 5rem;
  text-align: left;
  border-bottom-width: 0.15rem;
  border-bottom-color: black;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
}

.header_action {
  align-self: center;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}

.header_action_disabled { 
  color: darkgray;
  pointer-events: none;
  cursor: default;
}